.movie-app-loader{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #eb67f5, #3d0d5a);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pulse {
    animation: pulse 2s infinite ease-in-out alternate;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  @keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
  }