
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carouselWrapper {
  width: 100%;
  height: 100%;
}
.img {
  width: 100vw;
  height: 100%;
}

.carouselWrapper img {
  width: 100vw;
  height: 100%;
}