* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ol,
ul {
	padding-left: 0rem;
}

.flex-container {
	display: flex;
}

.movie-video-details-video-part {
	display: flex;
	margin-bottom: 10px;
}

ul li div {
	height: 100%;
	width: 100%;
}

ul li p {
	margin: 0;
	margin: 5px;
	text-align: center;
}

ul li img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 8px;
}

body {
	background-image: linear-gradient(to right, #eb67f5, #3d0d5a);
}

.topSectMovies {
	background-image: url(./assets/filmHeader.jpg);
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	justify-items: center;
	align-items: center;
}

.topSectMovies p {
	align-self: center;
	font-size: 3.5rem;
	backdrop-filter: blur(2px);
	padding: 5px;
}

.animate-character {
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#44107a 29%,
		#ff1361 67%,
		#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.movie-wrapper {
	margin: auto;
	width: 100%;
	padding: 1rem;
	text-align: center;
}

.movie-wrapper .flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.movie-wrapper .movie-card {
	width: 17%;
	height: auto;
	position: relative;
	margin: 1.5rem;
	overflow: hidden;
	border-radius: 1rem;
}

.movie-wrapper .movie-wrapper-title h2 {
	color: papayawhip;
}

.movie-wrapper .movie-wrapper-title p {
	color: tan;
}

.movie-wrapper .movie-card img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: fill;
	border-radius: 1rem;
	position: relative;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.movie-wrapper .movie-card:hover img {
	transform: scale(1.2);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.movie-card::after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	border-radius: 1rem;
}

.movie-wrapper .movie-card .movie-rating,
.movie-wrapper .movie-card .movie-title {
	position: absolute;
	left: 1rem;
	color: blanchedalmond;
	font-size: 24px;
	font-weight: 500;
	z-index: 8;
	text-align: left;
}

.movie-wrapper .movie-card .movie-title {
	bottom: 2.5rem;
}

.movie-wrapper .movie-card .movie-rating {
	bottom: 0.5rem;
}

.flex-container-movie-details {
	display: flex;
	width: 100%;
	margin: auto;
	flex-direction: column;
}

.movie-details {
	padding: 2rem;
}

.movie-details-year,
.movie-details-title {
	display: inline-block;
}

.movie-details-title {
	margin-bottom: 0.7rem;
	font-size: 30px;
	margin-right: 2rem;
	color: papayawhip;
}

.movie-details p {
	margin-bottom: 0.7rem;
	font-size: 20px;
	line-height: 1.3;
	color: black;
}
.movie-details .movie-details-description {
	margin: 1.2rem 0;
}
.flex-container-movie-details li {
	font-size: 20px;
	border-top: 1px solid black;
	padding: 15px 0;
}

.flex-container-movie-details li:last-child {
	border-bottom: 1px solid black;
	padding: 15px 0;
}

.movie-details-content {
	width: 100%;
}

.flex-container-movie-details span {
	font-weight: 600;
}

.movie-details-image {
	width: 30%;
	display: flex;
	justify-content: end;
}

.movie-video-traier {
	width: 70%;
	margin-left: 20px;
}

.movie-video-traier iframe {
	height: 100%;
	width: 100%;
}

.flex-container-movie-details img {
	height: auto;
	width: 100%;
	display: block;
}
.movie-details-img-wrapper {
	width: 100%;
	height: auto;
}

.movie-wrapper-title {
	margin-bottom: 2.5rem;
	text-align: center;
}

.slick-slide > div {
	margin: 0 5px;
	height: 100%;
}

.slick-slide .movie-card {
	display: block;
	height: 90% !important;
}

.slick-track {
	display: flex !important;
}

.slick-slide {
	height: inherit !important;
}

.movie-wrapper .slick-prev,
.movie-wrapper .slick-next {
	top: -10px;
	right: 0;
	margin-bottom: 1.5rem;
	border: none;
	padding: 0.9rem;
}

.movie-wrapper .slick-prev {
	left: auto;
	right: 3rem;
}

.movie-wrapper .slick-prev:before,
.slick-next:before {
	color: black;
}

.movies-info-list {
	list-style: none;
}

.favorite-icon {
	position: absolute;
	z-index: 3;
	height: 2.5rem;
	width: 2.5rem;
	padding: 0.1rem;
	margin: 0.5rem;
	transition: ease-in-out 0.5s;
}

.favorite-icon:hover {
	transform: scale(1.5);
}

.favorite-rm-icon:hover {
	transform: scale(1.4);
}

.favorite-rm-icon {
	position: absolute;
	margin: 1rem;
	height: 2.5rem;
	width: 2.5rem;
	object-fit: contain;
	z-index: 1;
	transition: ease-in-out 0.5s;
}

.favorite-rm-icon img {
	width: 100%;
	height: 100%;
}

.movie-wrapper .movie-card {
	width: 17%;
	height: auto;
	position: relative;
	margin: 1.5rem;
	overflow: hidden;
	border-radius: 1rem;
}
.movie-card Link {
	z-index: 6;
	height: 5rem;
}

/*Reactions start*/
.Reactions {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.Reactions img {
	width: 50px;
}

.icons {
	border: 1px solid rgb(42, 10, 46);
	cursor: pointer;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 5px;
}

.icons p {
	color: white;
	margin: 0;
}

.Reactions .icons:hover {
	background-color: rgb(42, 10, 46);
}

/*Reactions end*/

@media screen and (max-width: 875px) {
	.movie-wrapper .movie-card .movie-rating,
	.movie-wrapper .movie-card .movie-title {
		position: absolute;
		left: 0.3rem;
		text-align: center;
		font-size: 1rem;
		font-weight: 400;
		z-index: 8;
		text-align: left;
	}

	.movie-wrapper .movie-card .movie-title {
		bottom: 1.2rem;
	}

	.movie-wrapper .movie-card .movie-rating {
		bottom: 0.1rem;
	}
}
@media screen and (max-width: 550px) {
	.movie-wrapper .movie-card {
		width: 35%;
		position: relative;
		margin: 1rem;
		overflow: hidden;
		border-radius: 1rem;
	}
	.movie-wrapper .movie-card .movie-rating,
	.movie-wrapper .movie-card .movie-title {
		position: absolute;
		left: 0.1rem;
		font-size: 0.6rem;
		font-weight: 300;
		z-index: 8;
		text-align: left;
	}
	.topSectMovies p {
		margin-left: 2rem;
	}
}

.search-movie {
	margin: 20px;
	width: 500px;
	margin: auto;
}

.search-movie input {
	width: 100%;
	padding: 10px;
	height: 50px;
	border: 1px solid white;
	border-radius: 6px;
}
